html{
    margin-right: 1rem;
    margin-left: 1rem;
}


.profilePageMain {
  height: 100rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

.leftSide {
  display: flex;
  flex-direction: column;
}
