html{
    margin-right: 1rem;
    margin-left: 1rem;
}
.profilepagebody {
  margin-left: 0;
}

.profilePageMain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.leftSide {
  display: flex;
  flex-direction: column;
}
