.rightsidetop,
.rightsidebottom {
  background-color: rgb(235, 233, 230);
  color: black;
}

.Divider.MuiDivider-root.MuiDivider-fullWidth.css-9mgopn-MuiDivider-root {
  border-bottom-width: medium;
}
