.navBar{
    margin-left: auto;
}

.MuiPaper-root MuiPaper-elevation MuiPaper-elevation4 MuiAppBar-root MuiAppBar-colorPrimary MuiAppBar-positionSticky css-7e0s21-MuiPaper-root-MuiAppBar-root{
    background: linear-gradient(112.9deg, rgba(217, 217, 217, 0.48) 0%, rgba(217, 217, 217, 0.12) 99.04%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(100px);
    border-radius: 30px;
}