.leftTop {
  width: 30rem;
  height: 17rem;
  background-color: rgb(235, 233, 230);
  box-sizing: border-box;
  border-radius: 10px;

}

.yourprofile {
  height: 1rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

.profilePicture {
  height: 12rem;
  display: flex;
  flex-direction: row;
  background-color: aqu;
  box-sizing: border-box;
  padding-left: 1rem;
}

img {
  height: 10rem;
  width: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 2em;
  padding-right: 1em;
  padding-top: 1rem;
}
