
.hero.strong {
    max-width: 90%;
    height: 450px;
    /* to do: problem.. too high margin-left. Don't know how to delete */ 
    margin-right: auto;
    margin-left:50px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background: linear-gradient(
    112.9deg,
    rgba(217, 217, 217, 0.48) 0%,
    rgba(217, 217, 217, 0.12) 99.04%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  border-radius: 10px;
}
.hero_text {
    margin-top: 4rem;
    text-align: center; 
}

.hero_pic{
    text-align: center;
}

 